
body{
    width:100%;
    margin: 0 auto;
  }
  
  .sm-links {
    margin-top: 20px;
    z-index: 4;
    margin-left: 20px;
  }
  
  .navigation{ 
    background-color:tan;
    margin: auto 0px;
    display: inline-flex;
    z-index: 4;
    position: fixed;
    width: 100%;
  }
  
  .navigation > ul {
    flex-direction: column;
  
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: tan;
    display: inline-flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    position: inline-block;
    z-index: 1;
    margin-left: 450px;
    margin-right: 20px;
  }
  
  li {
    float: left;
  }
  
  li a, .dropdown-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown-menu:hover .dropdown{
    background-color: tan;
    color: white;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  
  .dropdown-menu div {
    display:none;
    position: absolute;
    background-color: tan;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-menu a:hover {
    background-color: tan;
    color: black;
  }
  
  .dropdown:hover  .dropdown-menu {
    display: block;
  }

  .SKD-page {
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 5px;
    margin-left: 25px;
  }

  .title-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start: 1;
    grid-column-end:3;
    margin-bottom: -10px;
    margin-top:150px;
    display: inline-block;
    z-index: 1; 
  }

  .skd-page
  .skd-subtitle
  .subtitle {
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 5px;
    margin-left: 50px;
  }

  .skd-1 {
    position: inherit;
    grid-row-start:2;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end:2;
    margin-right: 75px;
    margin-top: 50px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    z-index: 2;
  }

  .article-text {
    position: inherit;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-right: 75px;
    margin-top: 45px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    z-index: 2;
  }

  

  .intake {
    position: inherit;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-right: 50px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
  }

  .skd-image {
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: -100px;
    display: inline-flex;
    position: inherit;
    grid-row-start:2;
    grid-row-end:2;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  
  
  
  
  
